.pokepedia{
  text-align: center;
}
.pokemon-cards-container{

  height: 100%;
  padding: 6rem 10%;

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem,14rem));
  gap:4rem;
  justify-content: center;
}
