header{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

header > nav{
  height: 100%;
  display: flex;
  justify-content:stretch;
}

.nav-item{
  height: 100%;
}

.logo-container{
  aspect-ratio: 1;
  padding: 0.8rem;
}
.search-nav-container{
  
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

header nav .logo{
  cursor: pointer;
  width: 100%;
}