header{

  /* border: 1px solid black;  */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

}

header nav
{
  /* background-color: aliceblue; */
  height: 100%;
  display: flex;
  
}

.nav-item{
  /* border: 1px solid palevioletred; */
  aspect-ratio: 1;
  height: 100%;
  padding: 0.8rem;
  /* size: 1rem; */
}

header nav .logo{
  cursor: pointer;
  width: 100%;
  /* border: 3px solid rebeccapurple; */

}