
table{
  
  width: 100%;
  border-collapse: collapse;
}

tbody > tr{

  border: 1px solid #ED5564;
}

table .attribute-name{
  color: #ED5564;   
}
table .attribute-value{
  color: black;
}


table .attribute-name,.attribute-value{
  padding: 0.75rem;
  text-align: start;
}